*{
    font-family: "Comic Neue", cursive;
    margin:0px;
    padding:0px;
}

body{
    background-color:rgb(210, 238, 229);
}
p{
    color: rgb(49, 246, 0);
    text-align: center;
    font-size: 80px;
    -webkit-text-stroke: 3px rgb(0, 0, 0);}

.comic-neue-bold-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
}

.pantalla {
    width: auto;
    height: 100px;
    font-size: 24px;
    text-align: center;
    resize: none;
    
}


.btn1{
    width: 70px;
    height: 70px;
    font-size: 30px;
    border-radius: 100%;
    margin: 3px;
    background-color: rgb(243, 208, 220);
    transition: all 0.1s;
}

.btn1:hover{
    background-color: rgb(255, 182, 193);
    transform: scale(1.2);
}

.btn2{
    width: 70px;
    height: 70px;
    font-size: 30px;
    border-radius: 100%;
    margin: 3px;
    background-color: rgb(232, 224, 154);
    transition: all 0.1s;
}

.btn2:hover{
    background-color: rgb(255, 217, 102);
    transform: scale(1.2);
}

.btn3{
    width: 70px;
    height: 70px;
    font-size: 30px;
    border-radius: 100%;
    margin: 3px;
    background-color: rgb(161, 222, 195);
    transition: all 0.1s;
}

.btn3:hover{
    background-color: rgb(102, 255, 204);
    transform: scale(1.2);
}

.btn4{
    width: 70px;
    height: 70px;
    font-size: 30px;
    border-radius: 100%;
    margin: 3px;
    background-color: rgb(198, 175, 219);
    transition: all 0.1s;
}

.btn4:hover{
    background-color: rgb(178, 102, 255);
    transform: scale(1.2);
}

.btn5{
    width: 70px;
    height: 70px;
    font-size: 30px;
    border-radius: 100%;
    margin: 3px;
    background-color: rgb(181, 235, 235);
    transition: all 0.1s;
}

.btn5:hover{
    background-color: rgb(102, 255, 255);
    transform: scale(1.2);
}

.calculadora{
    border: 3px solid black;
    border-radius: 16px;
   display: inline-block;
   padding: 15px;
    background-color: rgb(220, 231, 240);
    box-shadow: 6px 6px 12px black;
}

.cuerpo{
    text-align: center;
}
