*{
    font-family: "Comic Neue", cursive;
}
p{
    
    text-align: center;
    font-size: 30px;
}

.comic-neue-bold-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
}

.pantalla {
    width: auto;
    height: 100px;
    font-size: 24px;
    text-align: center;
    resize: none;
    
}


.btn1{
    width: 90px;
    height: 50px;
    font-size: 30px;
    border-radius: 30px;
    margin: 3px;
    background-color: rgb(243, 208, 220);
    transition: all 0.3s;
}

.btn1:hover{
    background-color: rgb(255, 182, 193);
    transform: scale(1.2);
}

.btn2{
    width: 90px;
    height: 50px;
    font-size: 30px;
    border-radius: 30px;
    margin: 3px;
    background-color: rgb(232, 224, 154);
    transition: all 0.3s;
}

.btn2:hover{
    background-color: rgb(255, 217, 102);
    transform: scale(1.2);
}

.btn3{
    width: 90px;
    height: 50px;
    font-size: 30px;
    border-radius: 30px;
    margin: 3px;
    background-color: rgb(161, 222, 195);
    transition: all 0.3s;
}

.btn3:hover{
    background-color: rgb(102, 255, 204);
    transform: scale(1.2);
}

.btn4{
    width: 90px;
    height: 50px;
    font-size: 30px;
    border-radius: 30px;
    margin: 3px;
    background-color: rgb(198, 175, 219);
    transition: all 0.3s;
}

.btn4:hover{
    background-color: rgb(178, 102, 255);
    transform: scale(1.2);
}

.btn5{
    width: 90px;
    height: 50px;
    font-size: 30px;
    border-radius: 30px;
    margin: 3px;
    background-color: rgb(181, 235, 235);
    transition: all 0.3s;
}

.btn5:hover{
    background-color: rgb(102, 255, 255);
    transform: scale(1.2);
}

.calculadora{
    text-align: center;
    border: 3px solid black;
    border-radius: 16px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(220, 231, 240);
}
